<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Add Player</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
	<h1>Add Player</h1>
	<form action="/add_player" method="post">
		<fieldset>
			<label><strong>Name:</strong> <input type="text" name="name" id="name" required/></label>
            <br>
			<label><strong>Player Notes: <br></strong><textarea rows="5" cols="80" name="backgroundInfo"></textarea></label>
		</fieldset>
        <br>
        <button class="redbutton" type="reset">Reset</button>
        <button class="button" id="submit" type="submit">Submit Player to Watchlist</button>
        <button class="homebutton"><a href="/">Home</a></button>

    </form>
</body>

</html>

<script>
	document.getElementById("submit").onclick = () => {
        const name = document.getElementById("name").value;
        let text = `Are you sure you want to add ${name} to your watchlist?\n`
		return window.confirm(text);
    }
</script>
