<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Success</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
	<h1>Successfully added <%- playerName %> to your watchlist!</h1>
    <li>To view the current watchlist: <a href="/view_watchlist">Watchlist</a></li>
    <li>To go home: <a href="/">Home</a></li>
</body>

</html>

