@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

body, header {
    background-color: #ca0909;
    font-family: "Oswald";
    color: hsl(0, 0%, 0%);
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #003366; 
}

input[type="text"] {
    font-size: 16px;
    padding: 10px;
    width: 70%;
}

.button {
    font-size: 16px;
    padding: 10px;
    background-color: #28a745; 
    color: white;
}

.redbutton {
    font-size: 16px;
    padding: 10px;
    background-color: #ea0909; 
    color: white;
}

.homebutton {
    font-size: 16px;
    padding: 10px;
    background-color: #fefefe; 
    color: white;
}

.result-box {
    background-color: #e9ecef;
    padding: 15px;
    margin: 10px 0;
    border-left: 5px solid #003366;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

table {
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #003366;
    color: white;
}